.question {
  position: relative;
}

.questionSets {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 50px;
  border-bottom: 2px solid lightgray;
  width: 100vw;
  height: 100px;
  overflow-y: scroll;
}

.questionSets h1 {
  font-weight: 500;
}

.questionSets button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 30px;
  margin-left: 40px;
}

.body {
  display: flex;
  justify-content: space-between;
  border: 2px solid lightgray;
  width: 500px;
  width: 80%;
  height: 100px;
}

.body h3 {
  margin: 35px;
}

.body button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 30px;
  margin-left: 40px;
}

.body button:hover {
  background-color: gray;
}

.bodySets {
  align-items: center;
  padding-left: 250px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.question_button button:hover {
  background-color: gray;
}

.loading {
  margin-right: 200px;
  display: flex;
  justify-content: center;
  padding-left: 250px;
}

.loading button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 30px;
}

.loading button:hover {
  background-color: gray;
}
